---
import Layout from "../../layouts/Layout.astro";
import { getLaunchById } from "../../services/spacex";

export const prerender = false //server

const { id } = Astro.params

let launch

if(id){
  launch = await getLaunchById({ id })
}
---

<Layout title={`Lanzamiento ${id}`}>
  <article class="flex flex-col gap-y-4">
    <img class="w-52 h-auto" src={launch?.links.patch.small} alt=""/>
    <h2>Launch #${launch?.id}</h2>
    <p>{launch?.details}</p>
  </article>
</Layout>